---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import SocialLink from "../../components/SocialLink.astro";
import HeaderSection from "../../components/HeaderSection.astro";
import ImageHoverable from "../../components/ImageHoverable.astro";
import { calcSpeed } from "../../lib/utils";

const members = await getCollection("member");
members.sort((a, b) => a.id.localeCompare(b.id));
members.sort((a, b) =>
  a.data.isLeader === b.data.isLeader ? 0 : a.data.isLeader ? -1 : 1,
);
---

<Layout title="Our Class Member">
  <HeaderSection
    title="Our Class Members"
    subtitle="Meet the talented students of TERPAL B 24"
  />
  <div class="container py-12">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-y-6"
    >
      {
        members.map(({ data }, idx) => (
          <div data-speed={calcSpeed(idx)}>
            <ImageHoverable
              src={data.photo}
              alt={data.name}
              class="aspect-square"
            />
            <div class="space-y-2 mt-6">
              <div
                class="text-3xl text-primary font-extrabold truncate"
                title={data.name}
              >
                {data.name}
              </div>
              <p class="text-lg">{data.quote}</p>
              <div class="inline-flex flex-wrap items-center gap-2">
                {data.socials.facebook ? (
                  <SocialLink href={data.socials.facebook} type="facebook" />
                ) : (
                  <Fragment />
                )}
                {data.socials.instagram ? (
                  <SocialLink href={data.socials.instagram} type="instagram" />
                ) : (
                  <Fragment />
                )}
                {data.socials.github ? (
                  <SocialLink href={data.socials.github} type="github" />
                ) : (
                  <Fragment />
                )}
                {data.socials.linkedin ? (
                  <SocialLink href={data.socials.linkedin} type="linkedin" />
                ) : (
                  <Fragment />
                )}
                {data.socials.website ? (
                  <SocialLink href={data.socials.website} type="website" />
                ) : (
                  <Fragment />
                )}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
