---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import HeaderSection from "../../components/HeaderSection.astro";
import ImageHoverable from "../../components/ImageHoverable.astro";
import { calcSpeed } from "../../lib/utils";

const lecturers = await getCollection("lecturer");
lecturers.sort((a, b) =>
    a.data.isGuardianLecturer === b.data.isGuardianLecturer
        ? 0
        : a.data.isGuardianLecturer
          ? -1
          : 1,
);

const subjects = await getCollection("subject");
---

<Layout title="Our Lecturers">
    <HeaderSection
        title="Our Lecturers"
        subtitle="Meet the dedicated faculty members who guide TERPAL B 24"
    />
    <div class="container py-12">
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-12"
        >
            {
                lecturers.map(({ id, data }, idx) => {
                    const currentSubjects = subjects.filter(
                        (item) =>
                            item.data.theory.id === id ||
                            item.data.practice?.id === id,
                    );
                    return (
                        <div data-speed={calcSpeed(idx, 3)}>
                            <ImageHoverable
                                src={data.photo}
                                alt={data.name}
                                class="aspect-square"
                            />
                            <div class="mt-6">
                                <div class="text-sm font-bold">
                                    NIK: {data.nik}
                                </div>
                                <h3
                                    title={data.name}
                                    class="text-primary truncate text-2xl leading-normal font-black"
                                >
                                    {data.name}
                                </h3>
                                <p class="text-sm text-muted-foreground mt-1">
                                    {data.specialization}
                                </p>
                                {currentSubjects &&
                                currentSubjects.length > 0 ? (
                                    <div class="flex flex-wrap gap-4 mt-2">
                                        {currentSubjects.map(
                                            ({ data: subject }) => {
                                                const isTheory =
                                                    subject.theory.id === id;
                                                const isPractice =
                                                    subject.practice?.id === id;

                                                return (
                                                    <div class="flex gap-4">
                                                        <span
                                                            class="font-bold text-secondary"
                                                            title={`${subject.title} (${
                                                                isTheory &&
                                                                isPractice
                                                                    ? "Teori & Praktikum"
                                                                    : isTheory
                                                                      ? "Teori"
                                                                      : "Praktikum"
                                                            })`}
                                                        >
                                                            {subject.code}
                                                        </span>
                                                    </div>
                                                );
                                            },
                                        )}
                                    </div>
                                ) : (
                                    <Fragment />
                                )}
                            </div>
                        </div>
                    );
                })
            }
        </div>
    </div>
</Layout>
