---
import {Card, CardContent, CardHeader, CardTitle} from "@/components/ui/card";
import {Badge} from "@/components/ui/badge";
import {Image} from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import {getCollection} from "astro:content";
import {getEntries} from "astro:content";
import {Link} from "@/components/link";
import {LinkIcon} from "lucide-react";

const projects = await getCollection("project");
projects.sort((a,b)=>a.id.localeCompare(b.id))
const manpros = await getEntries(projects.map(item => item.data.manpro));
const teams = await getEntries(projects.flatMap(item => item.data.team));
---
<Layout title="Our Projects">
    <div class="container py-12">
        <div class="flex flex-col items-center justify-center space-y-4 text-center mb-12">
            <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-primary">Our Projects</h1>
            <p class="mx-auto max-w-[700px] text-muted-foreground">
                Explore the innovative projects developed by TERPAL B 24 students
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {projects.map(({data}) => {
                const manpro = manpros.find(item => item.id === data.manpro.id);
                const members = data.team.map(item => {
                    return teams.find(team => team.id === item.id);
                })
                return (
                        <Card className="overflow-hidden flex flex-col shadow-none pt-0">
                            <div class="aspect-video relative">
                                <Image
                                        src={data.cover}
                                        alt={data.title}
                                        class="object-cover w-full aspect-video"
                                />
                            </div>
                            <CardHeader>
                                <CardTitle>{data.code}{" : "}{data.name}</CardTitle>
                                <div class="flex flex-wrap gap-2 mt-2">
                                    {data.tags.map((tag) => (
                                            <Badge variant="secondary">
                                                {tag}
                                            </Badge>
                                    ))}
                                </div>
                            </CardHeader>
                            <CardContent className="flex-grow">
                                <p class="text-muted-foreground">{data.title}</p>
                                <div class="mt-4">
                                    <p class="font-medium">Project Manager:</p>
                                    <p class="text-sm text-muted-foreground">{manpro?.data.nik}
                                        - {manpro?.data.name}</p>
                                </div>
                                <div class="mt-4 space-y-1">
                                    <p class="font-medium">Team Members:</p>
                                    {members.map((member) => member ? (
                                                    <p class="text-sm text-muted-foreground">{member.data.nim}
                                                        - {member.data.name}</p>
                                        ) :
                                            <Fragment/>)}
                                </div>
                                <div class="mt-4">
                                    <Link href={data.link} className="w-full variant=" variant="outline"
                                          target="_blank">
                                        <LinkIcon/>
                                        Read More
                                    </Link>
                                </div>
                            </CardContent>
                        </Card>
                );
            })}
        </div>
    </div>
</Layout>