---
import { getCollection, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { renderDate } from "../../../lib/date";
import { Image } from "astro:assets";
import HeaderSection from "../../../components/HeaderSection.astro";
import { CalendarHeartIcon, MapPinIcon } from "@lucide/astro";
import { calcSpeed } from "../../../lib/utils";

export async function getStaticPaths() {
  const albums = await getCollection("album");
  return albums.map((album) => ({
    params: { slug: album.id },
    props: { album },
  }));
}

const { album } = Astro.props;
if (!album) {
  // Handle Error, for example:
  throw new Error("Could not find album!");
}
const { data } = album;
const { Content } = await render(album);
---

<Layout title={data.title}>
  <HeaderSection title={data.title}>
    <div class="mx-auto mt-4 text-lg max-w-xl">
      <Content />
      <div
        class="flex items-center justify-center font-bold uppercase text-sm mt-4 gap-6 flex-wrap text-secondary"
      >
        <span class="flex gap-1 items-center">
          <MapPinIcon />
          <span>{data.location}</span>
        </span>
        <span class="flex gap-1 items-center">
          <CalendarHeartIcon />
          <span>{renderDate(data.date)}</span>
        </span>
      </div>
    </div>
  </HeaderSection>
  <div class="container py-12">
    <div class="flex items-center justify-center gap-12 flex-wrap">
      {
        data.contents.map((item, idx) => (
          <figure data-speed={calcSpeed(idx)}>
            <Image
              src={item}
              alt=""
              class="max-h-[500px] w-auto rounded-4xl hover:scale-95 transition-all duration-300"
            />
          </figure>
        ))
      }
    </div>
  </div>
</Layout>
